body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;   
    color: #ffffff;
}

.container {
     width: 780px;     
     border-radius: 20px;
     padding: 20px 40px;
     background-color: #ffe4c4
}

header {
    display: flex;
    color: #a0a0a0;
    align-items: center;
    justify-content: space-between;    
}

header h2 {
    font-size: 1.5rem;
}

header .column {
    display: flex;
    align-items: center;
}

.column span {
    font-weight: 600;
    margin-right: 20px;
    font-size: 1.2rem;
}

.keys-check input {
    width: 60px;
    height: 30px;
    appearance: none;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;
    border-radius: 30px;
}

.keys-check input::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: inherit;
    background-color: #8f8f8f;
    position: absolute;
    top: 50%;
    left: 0.3rem;
    transform: translateY(-50%);
    transition: all 0.5s ease;
}

.keys-check input:checked::before {
    left: 2.1rem;
    background-color: #ffffff;
}

.piano-keys {
    display: flex;
    margin-top: 40px;    
}
.piano-keys .key {
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    text-transform: uppercase;
    color: #8f8f8f;
    font-weight: 400;
}

.piano-keys .white {
    height: 230px;
    width: 70px;
    border: 1px solid black;
    border-radius: 3px 3px 8px 8px;
    background: linear-gradient(#ffffff 96%, #eeeeee 4%);
}

.piano-keys .black {
    height: 150px;
    width: 45px;
    border: 1px solid black;
    border-radius: 3px 3px 8px 8px;
    background: linear-gradient( #333333,#000000);
    z-index: 2;
    margin: 0px -22px 0px -22px;
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom #ffffff 0%, #eeeeee 100%);
}

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.2);
    background: linear-gradient(to bottom #000000 , #434343 );
}

.piano-keys .key.hide span {
    display: none;
}